@import "./reset";

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  background-color: white;
}

.pre-loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
    @media (max-width: 767px) {
      width: 120px;
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .progress-bar {
    background-color: $color1;
    border: none;
    overflow: hidden;
    width: 200px;
    height: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 20px 0 0 0;
    transform: rotateY(0deg);
    @media (max-width: 767px) {
      width: 100px;
    }
    .Shape_1 {
      background-color: $color1;
      position: absolute;
      left: 583px;
      top: 459px;
      width: 200px;
      height: 2px;
      z-index: 4;
    }
    span {
      display: flex;
      justify-content: flex-end;
    }
  }
  .bar {
    background-color: #ccc;
    box-shadow: none;
  }
  .progress {
    animation: loader 8s ease infinite;
    background: $color1;
    border: none;
    padding: 0px;
    width: 0;
    height: 2px;
  }
}

@keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 5px;

  a {
    color: black;

    &:hover {
      color: $color1;
    }
  }

  .dropdown-content {
    position: absolute;
    min-width: 100%;
    width: max-content;
    top: 102%;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px #0000001f;
    padding: 5px 20px;
    border-radius: 10px;

    
    
    a {
      font-size: 16px;
    }
    
    &:before {
      content: "";
      width: 0;
      height: 0;
      display: block;
      border-width: 6px;
      border-color: transparent transparent #ffffff;
      border-style: solid;
      top: -12px;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.dropdown:hover {
  .dropdown-content {
    z-index: 15;
    opacity: 1;
  }
}

.s-container {
  width: 100%;
  overflow: hidden;
  margin: auto;
  //swiper bagenation

  @media (min-width: 1200px) {
    width: 97.437%;
  }
  @media (max-width: 1200px) {
    width: 100%;
  }

  //swiper buttons
  .swiper-button-prev,
  .swiper-button-next {
    color: #b3b3b3;
    font-weight: 800;
    top: 42%;

    &:after {
      font-size: 18px;
    }
  }

  .swiper-button-prev {
    left: -4rem;

    @media (max-width: 768px) {
      left: 1rem;
    }
  }

  .swiper-button-next {
    right: -4rem;
    @media (max-width: 768px) {
      right: 1rem;
    }
  }
}

.product {
  width: 100%;
  .product-img {
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #ededed;
    margin-bottom: 20px;
    height: 262px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      transition: all 0.5s;
      max-height: 90%;
      max-width: 100%;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  .product-disc {
    text-align: center;
    h4 {
      font-size: 16px;
      font-family: "Tajawal";
      color: rgb(51, 51, 51);
      line-height: 1.375;
      text-align: center;
      margin: 10px 0;
      font-weight: 400;
    }
    .price {
      color: $color1;
      font-weight: 500;
      font-size: 18px;

      .price-sale {
        text-decoration: line-through;
        color: gray;
        margin-right: 5px;
        font-size: 16px;
        font-weight: 400;
        display: flex;
      }

      span {
        margin-left: 3px;
      }
    }
  }

  .buy {
    margin-top: 1rem;

    .btn {
      border-color: transparent;
      border: none;
      outline: none;
      border-radius: 25px;
      padding: 6px 30px;
      background-color: #2bd16b;
      background-image: linear-gradient(45deg, #28a988, #3bc996);
      background-repeat: no-repeat;
      transition: all 0.75s;

      &:hover {
        background-position-x: 250px;
      }
    }
  }
}

.s-head {
  display: flex;
  margin-bottom: 25px;

  h3 {
    font-size: 24px;
    margin: 0;
    margin-left: auto;
    border-right: 4px solid $color2;
    padding-right: 15px;
    text-align: right;

    @media (max-width: 576px) {
      font-size: 21px;
    }
  }

  a {
    color: #8a8a8a;
    position: relative;
    font-size: 16px;

    @media (max-width: 576px) {
      font-size: 15px;
    }
    &:hover {
      color: $color1;
    }
  }
}

nav {
  height: 127px;
  padding: 15px 0;
  background-color: white;
  transition: all 0.75s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 13;

  @media (max-width: 576px) {
    height: 85px;
  }
  .row {
    display: flex;
    height: 100%;
  }
  .container {
    height: 100%;
  }

  .header-nav {
    display: flex;

    button,
    a {
      color: #333333;

      &:hover {
        color: $color1;
      }
    }

    .search {
      display: flex;
      flex-direction: column;
      position: fixed;
      transition: all 0.5s;
      justify-content: center;
      align-items: center;
      height: 0;
      width: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #000000bf;
      z-index: -1;
      font-size: 18px;
      opacity: 0;
      transition: all 0.7s;
      @media(max-width: 576px){
        font-size: 16px;   
      }
      
      form {
        display: block;
        position: relative;
        width: 50%;
        
        @media(max-width: 576px){
          width: 85%;
        }
        input {
          width: 100%;
          border-radius: 20px;
          text-align: right;
          transition: all 0.5s;
          height: 40px;
          padding: 6px 25px;
          padding-right: 10px;
          font-size: 18px;
          
          @media(max-width: 576px){
            font-size: 16px;   
          }
        }
  
        button{
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translate(-50%, -50%);
          border: none;
          outline: none;
          background-color: transparent;
        }
      }

      .close-search{
        margin-bottom: 50px;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: none;
        font-size: 18px;
        transition: color 0.5s;

        &:hover{
          color:$color2;
        }
      }

    }

    .search-active{
      z-index: 999 !important;
      height: 100vh !important;
      width: 100% !important;
      opacity: 1 !important;
    }

    .header-icons {
      justify-content: flex-start;
      transition: all 1s;

      @media (max-width: 992px) {
        font-size: 14px;
      }
      @media (max-width: 576px) {
        font-size: 17px;
      }

      & > div {
        margin-right: 30px;
        font-size: 22px;

        @media (max-width: 992px) {
          margin-right: 15px;
        }
      }

      .shopping-cart {
        position: relative;
        cursor: pointer;

        img {
          @media (max-width: 992px) {
            width: 80%;
          }
        }
        .num {
          position: absolute;
          top: -5px;
          left: 10px;
          height: 16px;
          width: 16px;
          font-size: 13px;
          background-color: $color2;
          color: white;
          border-radius: 100%;
          transition: all 0.5s;

          @media (max-width: 992px) {
            top: -6px;
            left: 10px;
          }
        }

        &:hover {
          .num {
            transform: rotate(360deg);
          }
        }
      }

      .search-btn {
        button {
          background-color: transparent;
          outline: none;
          border: none;
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      margin-left: 20px;

      @media (max-width: 992px) {
        margin-left: 10px;
      }
      @media (max-width: 768px) {
        display: none;
      }

      li {
        margin-right: 25px;

        @media (max-width: 992px) {
          margin-right: 15px;
        }
        a {
          font-size: 17px;
          font-weight: 500;
          position: relative;

          @media (max-width: 1200px) {
            font-size: 16px;
          }
          @media (max-width: 992px) {
            font-size: 12px;
          }

          &:hover {
            color: $color1;
          }
        }
      }
      .active {
        a {
          color: $color1;
        }
      }
    }

    .cart-small {
      font-size: 22px;
      display: none;

      @media (max-width: 768px) {
        display: flex;
      }

      div {
        color: black;
        transition: all 0.5s;

        &:hover {
          color: $color1;
        }
      }
    }
  }

  .logo {
    max-height: 100%;
    text-align: right;
    margin-left: auto;
    img {
      max-height: 90%;
      max-width: 100%;

      @media (max-width: 992px) {
        max-width: 75%;
      }
      @media (max-width: 576px) {
        max-width: 100%;
      }
    }
  }
}

.nav-scrolled {
  box-shadow: 0px 0px 10px 0px #00000017;
  height: 85px;

  li {
    a {
      font-size: 15px !important;
    }
  }
}

header {
  margin-top: 119px;

  @media (max-width: 576px) {
    margin-top: 85px;
  }
  .swiper-container {
    width: 100%;
    height: 450px;

    @media (max-width: 768px) {
      height: auto;
      max-height: 450px;
    }
    @media (max-width: 576px) {
      min-height: 130px;
    }
    @media (max-width: 350px) {
      min-height: unset;
    }

    .swiper-pagination {
      bottom: 20px;
      @media (max-width: 576px) {
        bottom: 5px;
      }
    }

    //swiper bagenation
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: #000;
      opacity: 0.3;
      margin-bottom: 10px;

      @media (max-width: 576px) {
        height: 5px;
        width: 5px;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: white;
    }

    //swiper buttons
    .swiper-button-prev,
    .swiper-button-next {
      color: #e3f3fd;
      background-color: #858585;
      transition: all 0.5s ease-in;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      top: 50%;

      @media (max-width: 576px) {
        display: none;
        height: 25px;
        width: 25px;
      }

      &:hover {
        background-color: white;
        color: $color1;
      }

      &:after {
        font-size: 20px;

        @media (max-width: 576px) {
          font-size: 10px;
        }
      }
    }

    .swiper-button-prev {
      left: 20px;
    }

    .swiper-button-next {
      right: 20px;
    }

    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        transition: all 0.5s;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}

main {
  section {
    margin-top: 75px;
    width: 100%;
  }

  .container {
    position: relative;
  }

  .row {
    @media (max-width: 576px) {
      width: 80%;
      margin: auto;
    }
  }

  section:nth-child(even) {
    background-color: #f7f7f7;
    padding: 50px 0;
  }

  #banners {
    background-color: white;
    padding: 0;
    .row {
      @media (max-width: 576px) {
        width: auto;
      }

      div {
        @media (max-width: 576px) {
          margin-top: 25px;
        }
      }
    }
    img {
      width: 100%;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.025);
      }
    }
  }

  #features {
    background-color: #333333;
    color: white;
    margin-top: 100px;
    padding: 46px 0;
    text-align: right;

    @media (max-width: 768px) {
      padding: 0px 0;
    }

    .row {
      @media (max-width: 576px) {
        width: auto;
      }
    }

    .feature {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-left: 45px;

      h4 {
        line-height: 1.5;
      }

      img {
        margin-left: 15px;
      }
      @media (max-width: 768px) {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        margin: 50px 0;
        padding: 0;
        img {
          margin-left: 0px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

footer {
  text-align: center;
  padding: 50px 0;

  div {
    margin-top: 35px;
  }

  .footer-logo,
  .container {
    margin-top: 0;
  }

  .footer-logo {
    img {
      @media (max-width: 576px) {
        max-width: 40%;
      }
    }
  }

  .footer-nav {
    display: flex;
    justify-content: center;
    ul {
      margin: 0;
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;

      @media (max-width: 768px) {
        flex-direction: column;
        text-align: right;
        margin: 0 10px;
      }
      li {
        margin: 0 12px;
        @media (max-width: 768px) {
          margin: 7px 7px;
          text-align: center;
        }
        a {
          font-size: 18px;
          font-weight: 400;
          position: relative;

          @media (max-width: 992px) {
            font-size: 14px;
          }
          @media (max-width: 576px) {
            font-size: 17px;
          }

          &:hover {
            color: $color1;
          }
        }
      }
    }
  }

  .footer-social {
    display: flex;
    justify-content: center;
    div {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      background-color: $color1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
      margin: 0 5px;

      a {
        font-size: 18px;
        color: white;

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }

      &:hover {
        background-color: $color2;
      }
    }

    .twitter {
      background-color: #2ac5f4;
    }
    .instagram {
      background-color: #5d5749;
    }
    .snap {
      background-color: #f7cb00;
    }
    .facebook {
      background-color: #3a5a97;
    }
  }

  .footer-pay {
    img {
      margin: 5px 5px;
      @media (max-width: 768px) {
        max-width: 19%;
      }
    }
  }

  .copy {
    margin-top: 25px;

    span {
      color: #2e3c71;
    }
  }
}

#sec-nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
  background-color: transparent;

  .sec-head {
    display: flex;
    padding: 2rem 1rem;

    #close-btn {
      cursor: pointer;
    }
  }

  .drop {
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;

    span{
      font-size:10px;
    }

    &:hover {
      color: $color1;
    }
  }

  #sec-items {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    opacity: 0;
    transition: all 0.7s;
    background-color: #fff;
    z-index: 11;
    font-size: 20px;
    color: black;
    overflow-x: hidden;
    padding-left: 1rem;

    @media (max-width: 576px) {
      font-size: 17px;
    }

    &>ul {
      display: flex;
      flex-direction: column-reverse;
    }

    li {
      text-align: right;
      margin: 7px 1rem;

      a {
        color: black;

        &:hover {
          color: $color1;
        }
      }
    }
    
  .slide{
    ul{
      display: none;
    }
  }

  .active{
    color:$color2;
  }
  }

  #sec-items.show {
    width: 250px !important;
    height: 100vh !important;
    opacity: 1 !important;
  }

}

.sec-nav-active {
  z-index: 15 !important;
  opacity: 1 !important;
  background-color: #000000d9 !important;
}

html[dir="ltr"] {
  .pre-loader {
    .progress-bar {
      span {
        justify-content: flex-start;
      }
    }
  }

  nav {
    .row,
    .header-nav {
      flex-direction: row-reverse;
    }

    ul {
      flex-direction: row;
      margin-left: 0;
      margin-right: 20px;
    }

    .logo {
      text-align: left;
      margin-right: auto;
      margin-left: 0;
    }

    .header-icons {
      flex-direction: row-reverse;
      justify-content: flex-end;

      & > div {
        margin-left: 25px;
        margin-right: 0;
      }
    }

      .search {
        input {
          padding-left: 10px;
          text-align: left;
        }
        button {
          left: 95%;
        }
      }
  }

  .s-head {
    flex-direction: row-reverse;

    h3 {
      margin-left: 0;
      margin-right: auto;
      border-left: 3px solid #f88442;
      border-right: none;
      padding-left: 15px;
      text-align: left;
    }
  }

  .product {
    .price {
      flex-direction: row-reverse;
    }
    .price-sale {
      flex-direction: row-reverse;
      margin-right: 0;
      margin-left: 5px;
    }

    .buy {
      .btn {
        display: flex;
        flex-direction: row-reverse;

        img {
          margin-right: 5px;
        }
      }
    }
  }

  #features {
    .feature {
      flex-direction: row-reverse;
      text-align: left;
      padding-left: 15px;
      padding-right: 15px;

      img {
        margin-left: 0;
        margin-right: 15px;
      }

      @media (max-width: 768px) {
        text-align: center;
        flex-direction: column-reverse;

        img {
          margin-right: 0;
        }
      }
    }
  }

  footer {
    .footer-nav {
      ul {
        flex-direction: row;
        @media (max-width: 768px) {
          flex-direction: column;
          text-align: left;
        }
      }
    }
  }

  #sec-nav {
    #sec-items {
      right: unset;
      left: 0;
      padding-right: 1rem;
      padding-left: 0;

      .sec-head {
        flex-direction: row-reverse;
      }

      .search {
        form {
          margin-right: auto;
          margin-left: 0;

          input {
            text-align: left;
          }
        }

        button {
          left: 82%;
        }
      }

      li {
        text-align: left;
        span {
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }
}

//scrollbar
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background-color: #caffe27a;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  box-shadow: inset 0 0 10px #11866f;
  background: #1fa78c;
}
