*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

* {
  font-family: "Tajawal", sans-serif;
}

a {
  color: black;
}

a:hover {
  color: #1fa78c;
  text-decoration: none;
  transition: all 0.5s;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
}

.col-xs-6 {
  width: auto;
}

@media (min-width: 576px) {
  .col-xs-6 {
    width: 50%;
  }
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  background-color: white;
}

.pre-loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-loader img {
  width: 200px;
}

@media (max-width: 767px) {
  .pre-loader img {
    width: 170px;
  }
}

.pre-loader .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pre-loader .progress-bar {
  background-color: #1fa78c;
  border: none;
  overflow: hidden;
  width: 200px;
  height: 2px;
  box-shadow: none;
  margin: 20px 0 0 0;
  transform: rotateY(0deg);
}

@media (max-width: 767px) {
  .pre-loader .progress-bar {
    width: 150px;
  }
}

.pre-loader .progress-bar .Shape_1 {
  background-color: #1fa78c;
  position: absolute;
  left: 583px;
  top: 459px;
  width: 200px;
  height: 2px;
  z-index: 4;
}

.pre-loader .progress-bar span {
  display: flex;
  justify-content: flex-end;
}

.pre-loader .bar {
  background-color: #ccc;
  box-shadow: none;
}

.pre-loader .progress {
  animation: loader 8s ease infinite;
  background: #1fa78c;
  border: none;
  padding: 0px;
  width: 0;
  height: 2px;
}

@keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.dropdown a {
  color: black;
}

.dropdown a:hover {
  color: #1fa78c;
}

.dropdown .dropdown-content {
  position: absolute;
  min-width: 100%;
  width: max-content;
  top: 102%;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px 0px #0000001f;
  padding: 5px 20px;
  border-radius: 10px;
}

.dropdown .dropdown-content a {
  font-size: 16px;
}

.dropdown .dropdown-content:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-width: 6px;
  border-color: transparent transparent #ffffff;
  border-style: solid;
  top: -12px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.dropdown:hover .dropdown-content {
  z-index: 15;
  opacity: 1;
}

.s-container {
  width: 100%;
  overflow: hidden;
  margin: auto;
}

@media (min-width: 1200px) {
  .s-container {
    width: 97.437%;
  }
}

@media (max-width: 1200px) {
  .s-container {
    width: 100%;
  }
}

.s-container .swiper-button-prev,
.s-container .swiper-button-next {
  color: #b3b3b3;
  font-weight: 800;
  top: 42%;
}

.s-container .swiper-button-prev:after,
.s-container .swiper-button-next:after {
  font-size: 18px;
}

.s-container .swiper-button-prev {
  left: -4rem;
}

@media (max-width: 768px) {
  .s-container .swiper-button-prev {
    left: 1rem;
  }
}

.s-container .swiper-button-next {
  right: -4rem;
}

@media (max-width: 768px) {
  .s-container .swiper-button-next {
    right: 1rem;
  }
}

.product {
  width: 100%;
}

.product .product-img {
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #ededed;
  margin-bottom: 20px;
  height: 262px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .product-img img {
  transition: all 0.5s;
  max-height: 90%;
  max-width: 100%;
}

.product .product-img:hover img {
  transform: scale(1.1);
}

.product .product-disc {
  text-align: center;
}

.product .product-disc h4 {
  font-size: 16px;
  font-family: "Tajawal";
  color: #333333;
  line-height: 1.375;
  text-align: center;
  margin: 10px 0;
  font-weight: 400;
}

.product .product-disc .price {
  color: #1fa78c;
  font-weight: 500;
  font-size: 18px;
}

.product .product-disc .price .price-sale {
  text-decoration: line-through;
  color: gray;
  margin-right: 5px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
}

.product .product-disc .price span {
  margin-left: 3px;
}

.product .buy {
  margin-top: 1rem;
}

.product .buy .btn {
  border-color: transparent;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 6px 30px;
  background-color: #2bd16b;
  background-image: linear-gradient(45deg, #28a988, #3bc996);
  background-repeat: no-repeat;
  transition: all 0.75s;
}

.product .buy .btn:hover {
  background-position-x: 250px;
}

.s-head {
  display: flex;
  margin-bottom: 25px;
}

.s-head h3 {
  font-size: 24px;
  margin: 0;
  margin-left: auto;
  border-right: 4px solid #f88442;
  padding-right: 15px;
  text-align: right;
}

@media (max-width: 576px) {
  .s-head h3 {
    font-size: 21px;
  }
}

.s-head a {
  color: #8a8a8a;
  position: relative;
  font-size: 16px;
}

@media (max-width: 576px) {
  .s-head a {
    font-size: 15px;
  }
}

.s-head a:hover {
  color: #1fa78c;
}

nav {
  height: 127px;
  padding: 15px 0;
  background-color: white;
  transition: all 0.75s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 13;
}

@media (max-width: 576px) {
  nav {
    height: 85px;
  }
}

nav .row {
  display: flex;
  height: 100%;
}

nav .container {
  height: 100%;
}

nav .header-nav {
  display: flex;
}

nav .header-nav button,
nav .header-nav a {
  color: #333333;
}

nav .header-nav button:hover,
nav .header-nav a:hover {
  color: #1fa78c;
}

nav .header-nav .search {
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: all 0.5s;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000bf;
  z-index: -1;
  font-size: 18px;
  opacity: 0;
  transition: all 0.7s;
}

@media (max-width: 576px) {
  nav .header-nav .search {
    font-size: 16px;
  }
}

nav .header-nav .search form {
  display: block;
  position: relative;
  width: 50%;
}

@media (max-width: 576px) {
  nav .header-nav .search form {
    width: 85%;
  }
}

nav .header-nav .search form input {
  width: 100%;
  border-radius: 20px;
  text-align: right;
  transition: all 0.5s;
  height: 40px;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 576px) {
  nav .header-nav .search form input {
    font-size: 16px;
  }
}

nav .header-nav .search form button {
  position: absolute;
  top: 55%;
  left: 20px;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  background-color: transparent;
}

nav .header-nav .search .close-search {
  margin-bottom: 50px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  font-size: 18px;
  transition: color 0.5s;
}

nav .header-nav .search .close-search:hover {
  color: #f88442;
}

nav .header-nav .search-active {
  z-index: 999 !important;
  height: 100vh !important;
  width: 100% !important;
  opacity: 1 !important;
}

nav .header-nav .header-icons {
  justify-content: flex-start;
  transition: all 1s;
}

@media (max-width: 992px) {
  nav .header-nav .header-icons {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  nav .header-nav .header-icons {
    font-size: 17px;
  }
}

nav .header-nav .header-icons > div {
  margin-right: 30px;
  font-size: 22px;
}

@media (max-width: 992px) {
  nav .header-nav .header-icons > div {
    margin-right: 15px;
  }
}

nav .header-nav .header-icons .shopping-cart {
  position: relative;
  cursor: pointer;
}

@media (max-width: 992px) {
  nav .header-nav .header-icons .shopping-cart img {
    width: 80%;
  }
}

nav .header-nav .header-icons .shopping-cart .num {
  position: absolute;
  top: -5px;
  left: 10px;
  height: 16px;
  width: 16px;
  font-size: 13px;
  background-color: #f88442;
  color: white;
  border-radius: 100%;
  transition: all 0.5s;
}

@media (max-width: 992px) {
  nav .header-nav .header-icons .shopping-cart .num {
    top: -6px;
    left: 10px;
  }
}

nav .header-nav .header-icons .shopping-cart:hover .num {
  transform: rotate(360deg);
}

nav .header-nav .header-icons .search-btn button {
  background-color: transparent;
  outline: none;
  border: none;
}

nav .header-nav ul {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-left: 20px;
}

@media (max-width: 992px) {
  nav .header-nav ul {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  nav .header-nav ul {
    display: none;
  }
}

nav .header-nav ul li {
  margin-right: 25px;
}

@media (max-width: 992px) {
  nav .header-nav ul li {
    margin-right: 15px;
  }
}

nav .header-nav ul li a {
  font-size: 17px;
  font-weight: 500;
  position: relative;
}

@media (max-width: 1200px) {
  nav .header-nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  nav .header-nav ul li a {
    font-size: 12px;
  }
}

nav .header-nav ul li a:hover {
  color: #1fa78c;
}

nav .header-nav ul .active a {
  color: #1fa78c;
}

nav .header-nav .cart-small {
  font-size: 22px;
  display: none;
}

@media (max-width: 768px) {
  nav .header-nav .cart-small {
    display: flex;
  }
}

nav .header-nav .cart-small div {
  color: black;
  transition: all 0.5s;
}

nav .header-nav .cart-small div:hover {
  color: #1fa78c;
}

nav .logo {
  max-height: 100%;
  text-align: right;
  margin-left: auto;
}

nav .logo img {
  max-height: 90%;
  max-width: 100%;
}

@media (max-width: 992px) {
  nav .logo img {
    max-width: 75%;
  }
}

@media (max-width: 576px) {
  nav .logo img {
    max-width: 100%;
  }
}

.nav-scrolled {
  box-shadow: 0px 0px 10px 0px #00000017;
  height: 85px;
}

.nav-scrolled li a {
  font-size: 15px !important;
}

header {
  margin-top: 119px;
}

@media (max-width: 576px) {
  header {
    margin-top: 85px;
  }
}

header .swiper-container {
  width: 100%;
  height: 450px;
}

@media (max-width: 768px) {
  header .swiper-container {
    height: auto;
    max-height: 450px;
  }
}

@media (max-width: 576px) {
  header .swiper-container {
    min-height: 130px;
  }
}

@media (max-width: 350px) {
  header .swiper-container {
    min-height: unset;
  }
}

header .swiper-container .swiper-pagination {
  bottom: 20px;
}

@media (max-width: 576px) {
  header .swiper-container .swiper-pagination {
    bottom: 5px;
  }
}

header .swiper-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #000;
  opacity: 0.3;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  header .swiper-container .swiper-pagination-bullet {
    height: 5px;
    width: 5px;
  }
}

header .swiper-container .swiper-pagination-bullet-active {
  background-color: white;
}

header .swiper-container .swiper-button-prev,
header .swiper-container .swiper-button-next {
  color: #e3f3fd;
  background-color: #858585;
  transition: all 0.5s ease-in;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  top: 50%;
}

@media (max-width: 576px) {
  header .swiper-container .swiper-button-prev,
  header .swiper-container .swiper-button-next {
    display: none;
    height: 25px;
    width: 25px;
  }
}

header .swiper-container .swiper-button-prev:hover,
header .swiper-container .swiper-button-next:hover {
  background-color: white;
  color: #1fa78c;
}

header .swiper-container .swiper-button-prev:after,
header .swiper-container .swiper-button-next:after {
  font-size: 20px;
}

@media (max-width: 576px) {
  header .swiper-container .swiper-button-prev:after,
  header .swiper-container .swiper-button-next:after {
    font-size: 10px;
  }
}

header .swiper-container .swiper-button-prev {
  left: 20px;
}

header .swiper-container .swiper-button-next {
  right: 20px;
}

header .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

header .swiper-container .swiper-slide:hover img {
  transform: scale(1.05);
}

main section {
  margin-top: 75px;
  width: 100%;
}

main .container {
  position: relative;
}

@media (max-width: 576px) {
  main .row {
    width: 80%;
    margin: auto;
  }
}

main section:nth-child(even) {
  background-color: #f7f7f7;
  padding: 50px 0;
}

main #banners {
  background-color: white;
  padding: 0;
}

@media (max-width: 576px) {
  main #banners .row {
    width: auto;
  }
}

@media (max-width: 576px) {
  main #banners .row div {
    margin-top: 25px;
  }
}

main #banners img {
  width: 100%;
  transition: all 0.5s;
}

main #banners img:hover {
  transform: scale(1.025);
}

main #features {
  background-color: #333333;
  color: white;
  margin-top: 100px;
  padding: 46px 0;
  text-align: right;
}

@media (max-width: 768px) {
  main #features {
    padding: 0px 0;
  }
}

@media (max-width: 576px) {
  main #features .row {
    width: auto;
  }
}

main #features .feature {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 45px;
}

main #features .feature h4 {
  line-height: 1.5;
}

main #features .feature img {
  margin-left: 15px;
}

@media (max-width: 768px) {
  main #features .feature {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    margin: 50px 0;
    padding: 0;
  }
  main #features .feature img {
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

footer {
  text-align: center;
  padding: 50px 0;
}

footer div {
  margin-top: 35px;
}

footer .footer-logo,
footer .container {
  margin-top: 0;
}

@media (max-width: 576px) {
  footer .footer-logo img {
    max-width: 40%;
  }
}

footer .footer-nav {
  display: flex;
  justify-content: center;
}

footer .footer-nav ul {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  footer .footer-nav ul {
    flex-direction: column;
    text-align: right;
    margin: 0 10px;
  }
}

footer .footer-nav ul li {
  margin: 0 12px;
}

@media (max-width: 768px) {
  footer .footer-nav ul li {
    margin: 7px 7px;
    text-align: center;
  }
}

footer .footer-nav ul li a {
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

@media (max-width: 992px) {
  footer .footer-nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  footer .footer-nav ul li a {
    font-size: 17px;
  }
}

footer .footer-nav ul li a:hover {
  color: #1fa78c;
}

footer .footer-social {
  display: flex;
  justify-content: center;
}

footer .footer-social div {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #1fa78c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  margin: 0 5px;
}

footer .footer-social div a {
  font-size: 18px;
  color: white;
}

@media (max-width: 768px) {
  footer .footer-social div a {
    font-size: 16px;
  }
}

footer .footer-social div:hover {
  background-color: #f88442;
}

footer .footer-social .twitter {
  background-color: #2ac5f4;
}

footer .footer-social .instagram {
  background-color: #5d5749;
}

footer .footer-social .snap {
  background-color: #f7cb00;
}

footer .footer-social .facebook {
  background-color: #3a5a97;
}

footer .footer-pay img {
  margin: 5px 5px;
}

@media (max-width: 768px) {
  footer .footer-pay img {
    max-width: 19%;
  }
}

footer .copy {
  margin-top: 25px;
}

footer .copy span {
  color: #2e3c71;
}

#sec-nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
  background-color: transparent;
}

#sec-nav .sec-head {
  display: flex;
  padding: 2rem 1rem;
}

#sec-nav .sec-head #close-btn {
  cursor: pointer;
}

#sec-nav .drop {
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
}

#sec-nav .drop span {
  font-size: 10px;
}

#sec-nav .drop:hover {
  color: #1fa78c;
}

#sec-nav #sec-items {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  opacity: 0;
  transition: all 0.7s;
  background-color: #fff;
  z-index: 11;
  font-size: 20px;
  color: black;
  overflow-x: hidden;
  padding-left: 1rem;
}

@media (max-width: 576px) {
  #sec-nav #sec-items {
    font-size: 17px;
  }
}

#sec-nav #sec-items > ul {
  display: flex;
  flex-direction: column-reverse;
}

#sec-nav #sec-items li {
  text-align: right;
  margin: 7px 1rem;
}

#sec-nav #sec-items li a {
  color: black;
}

#sec-nav #sec-items li a:hover {
  color: #1fa78c;
}

#sec-nav #sec-items .slide ul {
  display: none;
}

#sec-nav #sec-items .active {
  color: #f88442;
}

#sec-nav #sec-items.show {
  width: 250px !important;
  height: 100vh !important;
  opacity: 1 !important;
}

.sec-nav-active {
  z-index: 15 !important;
  opacity: 1 !important;
  background-color: #000000d9 !important;
}

html[dir="ltr"] .pre-loader .progress-bar span {
  justify-content: flex-start;
}

html[dir="ltr"] nav .row,
html[dir="ltr"] nav .header-nav {
  flex-direction: row-reverse;
}

html[dir="ltr"] nav ul {
  flex-direction: row;
  margin-left: 0;
  margin-right: 20px;
}

html[dir="ltr"] nav .logo {
  text-align: left;
  margin-right: auto;
  margin-left: 0;
}

html[dir="ltr"] nav .header-icons {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

html[dir="ltr"] nav .header-icons > div {
  margin-left: 25px;
  margin-right: 0;
}

html[dir="ltr"] nav .search input {
  text-align: left;
}

html[dir="ltr"] nav .search button {
  left: 95%;
}

@media (max-width: 576px) {
  html[dir="ltr"] nav .search button {
    left: 93%;
  }
}

html[dir="ltr"] .s-head {
  flex-direction: row-reverse;
}

html[dir="ltr"] .s-head h3 {
  margin-left: 0;
  margin-right: auto;
  border-left: 3px solid #f88442;
  border-right: none;
  padding-left: 15px;
  text-align: left;
}

html[dir="ltr"] .product .price {
  flex-direction: row-reverse;
}

html[dir="ltr"] .product .price-sale {
  flex-direction: row-reverse;
  margin-right: 0;
  margin-left: 5px;
}

html[dir="ltr"] .product .buy .btn {
  display: flex;
  flex-direction: row-reverse;
}

html[dir="ltr"] .product .buy .btn img {
  margin-right: 5px;
}

html[dir="ltr"] #features .feature {
  flex-direction: row-reverse;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

html[dir="ltr"] #features .feature img {
  margin-left: 0;
  margin-right: 15px;
}

@media (max-width: 768px) {
  html[dir="ltr"] #features .feature {
    text-align: center;
    flex-direction: column-reverse;
  }
  html[dir="ltr"] #features .feature img {
    margin-right: 0;
  }
}

html[dir="ltr"] footer .footer-nav ul {
  flex-direction: row;
}

@media (max-width: 768px) {
  html[dir="ltr"] footer .footer-nav ul {
    flex-direction: column;
    text-align: left;
  }
}

html[dir="ltr"] #sec-nav #sec-items {
  right: unset;
  left: 0;
  padding-right: 1rem;
  padding-left: 0;
}

html[dir="ltr"] #sec-nav #sec-items .sec-head {
  flex-direction: row-reverse;
}

html[dir="ltr"] #sec-nav #sec-items .search form {
  margin-right: auto;
  margin-left: 0;
}

html[dir="ltr"] #sec-nav #sec-items .search form input {
  text-align: left;
}

html[dir="ltr"] #sec-nav #sec-items .search button {
  left: 82%;
}

html[dir="ltr"] #sec-nav #sec-items li {
  text-align: left;
}

html[dir="ltr"] #sec-nav #sec-items li span {
  margin-left: 0;
  margin-right: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background-color: #caffe27a;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  box-shadow: inset 0 0 10px #11866f;
  background: #1fa78c;
}
/*# sourceMappingURL=main.css.map */